
[Desktop Entry]
Type=Application
Exec=/usr/bin/music_start
Hidden=false
X-GNOME-Autostart-enabled=true
Name[es_MX]=mpd
Name=mpd
Comment[es_MX]=
Comment=
